@using eStoreWebsite.Helpers
@{
    ViewBag.Title = "Branches/Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Title of Page*@
<html>

<head>
    <title>Orders</title>
    <script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>

<body>
    @*Main Page*@
    <div>
        <div id="wrap" style="overflow: auto;">
            <div id="main-content" data-mnuitem="shpMnuItem" style="margin-left: 25%; margin-top: 5%; width: 50%; border: 1px solid lightblue; border-radius: 20px; box-shadow: 10px 5px 10px 7px #888888; ">
                <div class="span12" style="margin: 50px">
                    <div class="row text-center">
                        <h1>Find 3 Stores Near You</h1>
                        <img src="~/Content/Pictures/1.jpg" alt="Surfboards" height="200" width="200" style="padding-left: 20px" class="banner">
                    </div>
                    <br />
                    
                    <div id="viewcart">
                        <div class="row text-center">
                            Your Address   :      
                            <input type="text" id="address" placeholder="Place Address Here!" />
                            <br/>
                            <br/>
                            <i>Example: London, ON or N5Y5R6 or 1460 Oxford St., London On</i>
                            <br/>
                            <br/>
                            <input type="button" id="findthem" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div>

        </div>

    </div>

    @*MAPS POPUP*@
    <div class="modal" id="maps_popup">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 610px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <div style="font-size: x-large; padding-bottom: 20px; text-align: center;">
                        <h3>Closest 3 Branches</h3>
                        <img src="~/Content/Pictures/Banner.jpg" alt="Surfboards" height="100" style="padding-left: 20px" class="banner">
                    </div>
                    <div class="modal-body">
                        <div id="map_canvas" class="col-md-10">
                        </div>
                        <div class="modal-footer">
                            <br />
                            <div id="messg">@Html.Partial("PopupMessage")</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>
</html>
