@using DMS_Website.Helpers;
@{
    ViewBag.Title = "Children";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model DMS_ViewModel.ChildViewModel
}

<h2>Child</h2>

<div id="catalogue">
    @Html.children("mycat")
</div>



