@using eStoreWebsite.Helpers
@{
    ViewBag.Title = "Orders/Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Title of Page*@
<html>

<head>
    <title>Orders</title>
    <script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
</head>



@*Shopping Menu Modal*@
<body>
    <div id="wrap" style="overflow: auto;">
        <div id="main-content" data-mnuitem="shpMnuItem" style="margin-left: 25%; margin-top: 5%; width: 50%; border: 1px solid lightblue; border-radius: 20px; box-shadow: 10px 5px 10px 7px #888888; ">
            <div class="span12" style="margin: 50px">
                <center><h2 id="cathead">YOUR ORDERS</h2></center>
                <div class="row text-center">
                    <div id="messg2"></div>
                    <img src="~/Content/Pictures/2.jpg" alt="Surfboards" height="150" width="150" style="padding-left: 20px" class="banner">
                </div>
                @Html.Orders("orders");
            </div>
        </div>
    </div>

    <div class="modal" id="popup">
        <div class="modal-dialog">
            <div class="modal-content" style="height: 450px; width: 600px;">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <div id="PopupBanner" style="font-size: x-large; padding-bottom: 20px; text-align: center;">Order</div>
                    <div class="row text-center">
                        <img src="~/Content/Pictures/Banner.jpg" alt="Surfboards" height="100" style="padding-left: 20px" class="banner">
                    </div>
                    <table id="popupTbl" class='row text-center' style='margin-top: 50px; margin-left: 0px; border-spacing: 15px; width: 100%;'></table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
